{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<section class="news-block">
    <div class="container-fluid">
        <div class="news-block-content">
            <h3>{{ post.title }}</h3>
            <p class="mb-15">{{ post.created_at|date:"d.m.Y"}}</p>
            <img src="{{ post.image_url }}" alt="" class="rounded-img">
            <p class="mb-15">{{ post.content }}</p>
            <a href="#">#{{ post.category.name }}</a>
        </div>
        <div class="adv-block-content">
            <h3>Advertising</h3>
            <div class="adv-block__info">
                {% for adv in advs %}
                <img src="{{ adv.image_url }}" alt="{{ adv.name }}">
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}